.checkbox-btn{
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;

    font-family: Montserrat-Regular;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    color: $dark-shade-50;

    cursor: pointer;
}

@import 'checkbox-btn__checkbox';
@import 'checkbox-btn__checkmark';
@import 'checkbox-btn__checkmarkcontainer';