.btn{
    position: absolute;
    height: 44px;
    width:99px;
    color: #FFFFFF;
    background: $primary-gradient;
    opacity: 1;
    border-width: 0px;
    border-radius: 22px;

    font-family: Montserrat-Bold;
    font-style: normal;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;

    &:hover{
        opacity: 0.5;
    }

    cursor: pointer;
    outline: none;
}


@import 'btn_theme_text-only.scss';
@import 'btn_shape_circle.scss';
@import 'btn_size_big.scss';
@import 'btn_bgn_secondary-gradient.scss';
@import 'btn_text-color_primary-color';