.material-icons.like-btn__icon{
    font-family: Material Icons;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 9px;
    width: 50%;
    color: $primary-gradient;
}