$primary-color: rgba(188,156,255,1);
$primary-color-50: rgba(188,156,255,0.5);
$dark-shade-100:rgba(31, 32, 65, 1);
$dark-shade-75:rgba(31, 32, 65, 0.75);
$dark-shade-50:rgba(31, 32, 65, 0.5);
$dark-shade-25:rgba(31, 32, 65, 0.25);
$dark-shade-5:rgba(31, 32, 65, 0.5);
$green:#6FCF97;
$primary-gradient: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
$secondary-gradient: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);